.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
}

.slides .slick-prev:before,
.slides .slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

