    .tag {
         width: 70%;
  height: 70%;
  position: absolute;
  left: 20%;
  top: 15%;
  margin-left: -50px;
       z-index: 100;
       background-color: white; 
       padding: 5px 10px;
       color: #FFFFFF;
    }

.loader {
  z-index: 1000;
}
